# Dependencies
node_modules/
.pnpm-store/

# Build Outputs
.next/
out/
dist/
build/

# Environment & Secrets
.env
.env*.local
*.pem

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Database Files
*.db
*.sqlite
*.db-journal
